/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
	
}

h1, h2, h3 {
	color: #586BAA;
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
}

p {
}

blockquote {
	margin-left: 3em;
}

ul {
	margin-left: 1em;
}

ul li {
}

ol {
	margin-left: 1em;
}

ol li {
}

a {
	color: #586BAA;
	cursor: pointer;
}

input {
color:#333333;
padding:1px;
}

select {
color:#333333;
padding:1px;
}

a:hover {
	text-decoration: none;
}

img {
}

/* Boxed Style */

.boxed {
	margin-bottom: 20px;
}

.boxed .title {
	height: 31px;
	padding: 9px 0 0 20px;
	background: #FFCC33 url(images/img05.gif) repeat-x;
	font-size: 1.2em;
	color: #CC0000;
}

.boxed .content {
	padding: 20px 20px 40px 20px;
	background: url(images/img06.gif) repeat-x;
}

/* Post */

.post {
}

.post .title {
	padding: 5px 0 0 20px;
	font-size: 2em;
	font-weight: normal;
}

.post .story {
	padding: 20px 20px 10px 20px;
	background: url(images/img07.gif) repeat-x;
}

.post h3 {
}

.post .story p, .post .story blockquote, .post .story ul, .post .story ol {
	margin-bottom: 1.0em;
	line-height: 150%;
}

/* Header */

#header {
	width: 740px;
	height: 150px;
	margin: 0 auto;
}

/* Menu */

#menu {
	width: 740px;
	height: 90px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding-top: 25px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	margin-left: 1px;
	padding: 13px 25px 0 25px;
	background: #FFFFFF url(images/img02.gif) repeat-x;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #586BAA;
}

#menu a:hover {
	background-image: url(images/img03.gif);
	border-color: #FEDA8D;
	color: #CC0000;
}

#menu .active a {
	height: 36px;
	margin-top: -4px;
	background-image: url(images/img04.gif);
	border: 1px solid #479AC6;
	border-bottom: none;
	font-weight: bold;
	color: #479AC6;
}

/* Logo */

#logo {
	width: 740px;
	height: 60px;
	margin-left: 20px;
  /*margin: 0 auto;*/
}

#logo h1 {
	float: left;
	letter-spacing: -2px;
	font-size: 36px;
	font-weight: normal;
}

#logo h1 a {
}

#logo h2 {
	float: left;
	font-size: 14px;
	font-weight: normal;
}

#logo h2 a {
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	color: #479AC6;
}

/* Content */

#content {
	width: 98%;
	margin: 0 auto;
}

#extra {
}

/* Content > Main */

#main {
padding-left:10px;
}


/* Content > Sidebar > Login */

#login {
}

#login form {
}

#login fieldset {
	border: none;
}

#login legend {
	display: none;
}

#login label {
	font-size: x-small;
	font-weight: bold;
}

#login input {
	margin-bottom: 5px;
}

#inputtext1, #inputtext2 {
	width: 170px;
	padding: 2px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

#inputsubmit1 {
}

/* Footer */

#footer {
	clear: both;
	width: 98%;
	margin: 0 auto;
	padding: 30px 0;
	background: url(images/img08.gif) repeat-x;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: x-small;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}


.pdesc {
	text-indent:30px;
	}
.pfunc {
	font-size:10px;
	font-weight:lighter;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
	}
.pdeclaimer {
	padding-top:5px;
	padding-left:5px;
    font-size:10px;
	}	
	
.pnewscapt {
	text-indent:30px;
	padding-bottom: 5px;
    font-weight:bold;
	}			
.pnewstext {
	text-indent:20px;
	}
.dcat {
	font-weight:bold;
	}
.ddl {
	font-size:12px;
	}	
.ptextblock {
    padding-left: 30px;
	color:#000000;
	}	
	
.smhref {
	color:#999999;
	font-size:12px;
	font-style:italic
	}	
	
.err {
	border:1px solid #F00;
	background-color:#FCC;
	color:#003; 
	padding:3px; 
	width:95%; 
	text-align:center; 
	margin:10px;	
}

.msg {
	border:1px solid #0F0;
	background-color:#CFC;
	color:#003; 
	padding:3px; 
	width:95%; 
	text-align:center; 
	margin:10px;	
}

#hw_list td {
	  padding: 5px;	
}

.tt {
	border-collapse:collapse;
	display: inline-table;

}

.tt th {
	border: 1px solid #58F;	
	background-color:#FFC;
	padding: 3px;
}

.tt tr {
	background-color:#FFF;
}

.tt tr:hover {
	background-color:#FDD;
}

.tt td {
	border: 1px solid #58F;	
	padding: 3px;
	color: #444444
}

.tt a{
	text-decoration: none;
	color: #229;
}
