<OBJECT classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B' width="320"
        height="255</cms:ifNotEmpty>" codebase='http://www.apple.com/qtactivex/qtplugin.cab'>
        <param name='src' value="qtlogo.mov">
        <param name='qtsrc' value="">
        <param name='autoplay' value="true">
        <param name='controller' value="true">
        <param name='loop' value="false">
        <EMBED src="qtlogo.mov" qtsrc="rtsp://10.55.247.14:554/cam/realmonitor?channel=1&subtype=1&authbasic=Z3Vlc3Q6" width="720" height="580" autoplay="true"
        controller="true" loop="false" pluginspage='http://www.apple.com/quicktime/download/'>
        </EMBED>
        </OBJECT>
